.load-app {
  background-color: @dark-blue;
  .container();
  padding: 28px 0 35px 0;
  &__load-btn {
    text-align: center;
    padding: 0 20px;
  }
  &__load-btn a {
    display: inline-block;
    font-family: OpenSansBold, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: @white;
    border: 3px solid @white;
    border-radius: 30px;
    text-decoration: none;
    padding: 17px 15px;
  }
  &__platforms {
//    .drop-style();
    padding-left: 55px;
    padding-right: 20px;
  }
  &__platform-item {
    display: inline-block;
    margin-right: 30px;
  }
  &__platform-item:last-child {
    margin-right: 0;
  }
  p {
    font-family: OpenSansLight, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: @white;
    text-align: center;
    padding: 0 20px;
  }
}