.make-post {
  background-color: @grey;
  padding: 20px 20px 0 20px;
  &__picture-block {
    border-bottom: 1px solid @grey-border;
    padding-bottom: 25px;
  }
  &__button_block {
    paddigng-top: 38px;
    padding-bottom: 41px;
    font-family: OpenSansBold, sans-serif;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
  }
  &__submit-btn {
    margin-bottom: 12px;
    color: @pink-text;
  }
  &__reset-btn {
    margin-bottom: 12px;
    color: @grey-border;
  }
  &__tools li img {
    background-color: @grey-icon;
  }
  &__tools-active {
    background-color: @pink-text;
  }
}