.our-contacts {
  background: url(img/bg-map-mobile@1x.png) no-repeat;
  &__block {
    background-color: @white;
  }
  &__promo-text {
    font-family: OpenSansLight, sans-serif;
    font-size: 24px;
    line-height: auto;
    text-align: center;
    font-weight: normal;
    color: @black;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &__call-text {
    font-family: OpenSansBold, sans-serif;
    font-size: 18px;
    line-height: auto;
    text-align: center;
    color: @black;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px; 
  }
  &__item {
    font-family: OpenSansLight, sans-serif;
    font-size: 24px;
    line-height: auto;
    text-align: center;
    color: @pink-text;
    margin-top: 0;
    margin-bottom: 30px
  }
}