.page-footer {
  padding: 40px 20px;
  &__logo {
    text-align: center;
    margin-bottom: 35px;
  }
  &__social li {
    list-style-type: none;
    display: inline-block;
    width: 46px;
    height: 46px;
    border: 3px solid @grey;
    border-radius: 46px;
    text-align: center;
    vertical-align: middle;
    margin-right: 12px;
  }
  &__social li:last-child {
    margin-right: 0;
  }
  &__copyright {
    text-align: center;
  }
}