body {
  width: 320px;
  margin: 0 auto;
  border: 1px solid @grey;
}
.person-form {
  background-color: @white;
  &__preview {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: @black;
    padding: 25px 20px;
    margin: 0;
  }
  &__fio, &__contacts, &__achievments, &__application, &__emotions {
    border: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__fio label, &__contacts label {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    color: @pink-text;
    text-transform: uppercase;
    padding-bottom: 14px;
    padding-left: 22px;
  }
  &__fio input, &__contacts input {
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: @black;
    border: 2px solid @grey-border;
    padding: 16px 0 16px 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  &__achievments, &__application {
    background-color: @grey;
  }
  &__achievments h3, &__application h3, &__emotions h3 {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: normal;
    color: @pink-text;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 38px;
    margin: 0 auto;
    width: 80%;
  }
  &__achievments label, &__application label {
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: @black;
    padding-top: 0;
    margin-bottom: 40px;
  }  
  &__achievments label input, &__application label input {
    margin-bottom: 40px;
  }  
  &__emotions textarea {
    width: 100%;
    box-sizing: content-box;
    margin-bottom: 45px;
  }
  &__emotions h3 {
    margin-bottom: 14px;
    padding-bottom: 0px;
  }
  &__required {
    color: @pink-text;
  }
  &__submit-block {
    padding: 0 20px;
  }
  &__sibmit-btn {
    width: 100%;
    box-sizing: content-box;
    background-color: @green;
    color: @white;
  }
}
.person-form p {
  text-align: center;
}